<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio API's 

SetMagic Productions es una empresa especializada en la provisión de servicios integrales para la realización de rodajes cinematográficos y audiovisuales. Nos dedicamos a facilitar tanto el atrezzo necesario para las producciones como los lugares idóneos para llevar a cabo los rodajes, ya sea en entornos al aire libre o en interiores.

**Servicios Ofrecidos:**

- **Atrezzo Creativo:** Contamos con un extenso catálogo de atrezzo que abarca desde accesorios hasta muebles y objetos temáticos para ambientar cualquier tipo de  escena.

- **Locaciones Únicas:** Nuestra empresa ofrece una amplia selección de locaciones, que incluyen desde escenarios naturales como playas, bosques y montañas, hasta espacios interiores como estudios, casas históricas y edificios emblemáticos.

- **Servicios de Producción:** Además de proporcionar atrezzo y locaciones, también ofrecemos servicios de producción audiovisual, incluyendo equipos de filmación, personal técnico y servicios de postproducción.

**Herramientas y Tecnologías:**

Para recopilar información sobre nuevas locaciones y tendencias en atrezzo, utilizamos herramientas de web scraping como Beautiful Soup y Selenium para extraer datos de sitios web relevantes y redes sociales especializadas en cine y producción audiovisual. También integramos APIs de plataformas de alquiler de locaciones y bases de datos de atrezzo para acceder a información actualizada y detallada.

**Almacenamiento de Datos:**

La información recopilada mediante web scraping y APIs se almacena en una base de datos no relacional MongoDB. Esta base de datos nos permite organizar eficientemente la información sobre locaciones, atrezzo, clientes y proyectos en curso, facilitando su acceso y gestión.

**Objetivo:**

Nuestro objetivo principal es proporcionar a nuestros clientes una experiencia fluida y personalizada en la búsqueda y selección de locaciones y atrezzo para sus proyectos audiovisuales. Utilizando tecnologías avanzadas y una amplia red de contactos en la industria, nos esforzamos por ofrecer soluciones creativas y de alta calidad que satisfagan las necesidades específicas de cada producción.


# Lab: APIs y Obtención de Datos de Localizaciones para Rodajes

En este laboratorio aprenderás a utilizar APIs para obtener información sobre localizaciones de rodaje en la Comunidad de Madrid. A lo largo de este ejercicio, implementarás funciones que te permitirán extraer coordenadas, buscar lugares de interés y almacenar la información en un formato que puedas reutilizar.

## Objetivo

Obtener información geográfica y sobre posibles localizaciones para rodajes en diferentes municipios de la Comunidad de Madrid, utilizando APIs como **Geopy** y **Foursquare**.

### Paso 1: Obtener Coordenadas de los Municipios

Primero, necesitas obtener las coordenadas geográficas (latitud y longitud) de cada municipio en la Comunidad de Madrid. Para esto, utilizarás la biblioteca **Geopy** y su funcionalidad para geocodificar. La lista de los municipios de la Comunidad de Madrid es:

```python
lista_municipios = ['acebeda-la', 'ajalvir', 'alameda-del-valle', 'alamo-el', 'alcala-de-henares', 'alcobendas', 'alcorcon', 'aldea-del-fresno', 'algete', 'alpedrete', 'ambite', 'anchuelo', 'aranjuez', 'arganda-del-rey', 'arroyomolinos', 'atazar-el', 'batres', 'becerril-de-la-sierra', 'belmonte-de-tajo', 'berrueco-el', 'berzosa-del-lozoya', 'boadilla-del-monte', 'boalo-el', 'braojos', 'brea-de-tajo', 'brunete', 'buitrago-del-lozoya', 'bustarviejo', 'cabanillas-de-la-sierra', 'cabrera-la', 'cadalso-de-los-vidrios', 'camarma-de-esteruelas', 'campo-real', 'canencia', 'carabana', 'casarrubuelos', 'cenicientos', 'cercedilla', 'cervera-de-buitrago', 'chapineria', 'chinchon', 'ciempozuelos', 'cobena', 'collado-mediano', 'collado-villalba', 'colmenar-del-arroyo', 'colmenar-de-oreja', 'colmenarejo', 'colmenar-viejo', 'corpa', 'coslada', 'cubas-de-la-sagra', 'daganzo-de-arriba', 'escorial-el', 'estremera', 'fresnedillas-de-la-oliva', 'fresno-de-torote', 'fuenlabrada', 'fuente-el-saz-de-jarama', 'fuentiduena-de-tajo', 'galapagar', 'garganta-de-los-montes', 'gargantilla-del-lozoya-y-pinilla-de-buitrago', 'gascones', 'getafe', 'grinon', 'guadalix-de-la-sierra', 'guadarrama', 'hiruela-la', 'horcajo-de-la-sierra-aoslos', 'horcajuelo-de-la-sierra', 'hoyo-de-manzanares', 'humanes-de-madrid', 'leganes', 'loeches', 'lozoya', 'lozoyuela-navas-sieteiglesias', 'madarcos', 'madrid', 'majadahonda', 'manzanares-el-real', 'meco', 'mejorada-del-campo', 'miraflores-de-la-sierra', 'molar-el', 'molinos-los', 'montejo-de-la-sierra', 'moraleja-de-enmedio', 'moralzarzal', 'morata-de-tajuna', 'mostoles', 'navacerrada', 'navalafuente', 'navalagamella', 'navalcarnero', 'navarredonda-y-san-mames', 'navas-del-rey', 'nuevo-baztan', 'olmeda-de-las-fuentes', 'orusco-de-tajuna', 'paracuellos-de-jarama', 'parla', 'patones', 'pedrezuela', 'pelayos-de-la-presa', 'perales-de-tajuna', 'pezuela-de-las-torres', 'pinilla-del-valle', 'pinto', 'pinuecar-gandullas', 'pozuelo-de-alarcon', 'pozuelo-del-rey', 'pradena-del-rincon', 'puebla-de-la-sierra', 'puentes-viejas-manjiron', 'quijorna', 'rascafria', 'reduena', 'ribatejada', 'rivas-vaciamadrid', 'robledillo-de-la-jara', 'robledo-de-chavela', 'robregordo', 'rozas-de-madrid-las', 'rozas-de-puerto-real', 'san-agustin-del-guadalix', 'san-fernando-de-henares', 'san-lorenzo-de-el-escorial', 'san-martin-de-la-vega', 'san-martin-de-valdeiglesias', 'san-sebastian-de-los-reyes', 'santa-maria-de-la-alameda', 'santorcaz', 'santos-de-la-humosa-los', 'serna-del-monte-la', 'serranillos-del-valle', 'sevilla-la-nueva', 'somosierra', 'soto-del-real', 'talamanca-de-jarama', 'tielmes', 'titulcia', 'torrejon-de-ardoz', 'torrejon-de-la-calzada', 'torrejon-de-velasco', 'torrelaguna', 'torrelodones', 'torremocha-de-jarama', 'torres-de-la-alameda', 'tres-cantos', 'valdaracete', 'valdeavero', 'valdelaguna', 'valdemanco', 'valdemaqueda', 'valdemorillo', 'valdemoro', 'valdeolmos-alalpardo', 'valdepielagos', 'valdetorres-de-jarama', 'valdilecha', 'valverde-de-alcala', 'velilla-de-san-antonio', 'vellon-el', 'venturada', 'villaconejos', 'villa-del-prado', 'villalbilla', 'villamanrique-de-tajo', 'villamanta', 'villamantilla', 'villanueva-de-la-canada', 'villanueva-del-pardillo', 'villanueva-de-perales', 'villar-del-olmo', 'villarejo-de-salvanes', 'villaviciosa-de-odon', 'villavieja-del-lozoya', 'zarzalejo']
```

1. Instalar y configurar la biblioteca de Geopy para realizar la geocodificación.

2. Crear una función que reciba una lista de municipios y devuelva un DataFrame con los nombres de los municipios y sus respectivas coordenadas (latitud y longitud).

3. Validar los datos obtenidos para verificar si hay municipios sin coordenadas y resolver posibles problemas, como nombres incorrectos o faltantes.


### Paso 2: Buscar Localizaciones Relevantes con la API de Foursquare

Una vez obtenidas las coordenadas de los municipios, utilizarás la API de Foursquare para buscar servicios que pueden ser importantes en un rodaje (ej: parques, edificios históricos, plazas).

En este punto es importante que reflexiones sobre los servicios o establecimientos clave que considerarías relevantes para establecer una empresa de servicios para rodajes. No hay una única respuesta correcta, ya que depende de la estrategia y visión que tengas. Al menos deberás elegir 5 tipos de servicios que puedan influir en la decisión de ubicación. Ejemplos de estos servicios pueden incluir:

- Parques o áreas verdes para rodajes exteriores.

- Centros comerciales que faciliten acceso a diferentes necesidades logísticas.

- Bares o restaurantes para el catering del equipo.

- Tiendas especializadas en disfraces o vestuario.

- Alquileres de equipos audiovisuales.

Es crucial entender que esta selección depende de la naturaleza y enfoque de la empresa. Tal vez para algunos proyectos sea más importante estar cerca de áreas residenciales o lugares con buena conexión de transporte. Otros proyectos podrían priorizar la proximidad a tiendas especializadas o servicios de entretenimiento. Es vuestra decisión! 

1. Crear una cuenta en [Foursquare](https://location.foursquare.com/developer/) y obtener la API Key necesaria para realizar las solicitudes. Leer la documentación para entender como funciona. 

2. Definir una función para realizar búsquedas de lugares cercanos a las coordenadas de cada municipio. Esta función debe permitir filtrar los resultados por categoría y distancia.

3. Explorar las categorías disponibles en Foursquare y seleccionar aquellas que se ajusten a los servicios clave que decidáis para vuestra estrategia.

4. Aplicar la función de búsqueda a cada municipio, recopilando información sobre los lugares relevantes.

Recuerda que la elección de categorías es un punto de análisis clave en este ejercicio, ya que la información que obtendréis será fundamental para decidir la ubicación ideal para vuestra empresa. Aseguraos de justificar vuestras decisiones y considerar diferentes perspectivas. Para cada una de los municipios deberás sacar la información de todos los servicios elegidos. 

### Paso 3: Limpieza de la Información

La información obtenida de Foursquare puede incluir muchos detalles innecesarios. Tu objetivo es quedarte únicamente con los campos relevantes para tu análisis (nombre, dirección, coordenadas, tipo de lugar, etc.).


1. Explorar la estructura de los datos obtenidos para identificar los campos importantes y limpiar la información.

2. Eliminar duplicados y valores nulos para garantizar la consistencia y calidad de los datos.

### Paso 4: Almacenamiento de los Datos

Una vez que tengas la información limpia y organizada, almacénala en un archivo CSV que puedas reutilizar en futuros análisis.

In [10]:
import pandas as pd
import numpy as np
import requests
from tqdm import tqdm
from time import sleep
import os
import dotenv
dotenv.load_dotenv()


from geopy.geocoders import Nominatim

import sys 
sys.path.append(os.path.abspath("../scr"))   


import scr_funciones as f

In [11]:
lista_municipios = ['acebeda-la', 'ajalvir', 'alameda-del-valle', 'alamo-el', 'alcala-de-henares', 'alcobendas', 'alcorcon', 'aldea-del-fresno', 'algete', 'alpedrete', 'ambite', 'anchuelo', 'aranjuez', 'arganda-del-rey', 'arroyomolinos', 'atazar-el', 'batres', 'becerril-de-la-sierra', 'belmonte-de-tajo', 'berrueco-el', 'berzosa-del-lozoya', 'boadilla-del-monte', 'boalo-el', 'braojos', 'brea-de-tajo', 'brunete', 'buitrago-del-lozoya', 'bustarviejo', 'cabanillas-de-la-sierra', 'cabrera-la', 'cadalso-de-los-vidrios', 'camarma-de-esteruelas', 'campo-real', 'canencia', 'carabana', 'casarrubuelos', 'cenicientos', 'cercedilla', 'cervera-de-buitrago', 'chapineria', 'chinchon', 'ciempozuelos', 'cobena', 'collado-mediano', 'collado-villalba', 'colmenar-del-arroyo', 'colmenar-de-oreja', 'colmenarejo', 'colmenar-viejo', 'corpa', 'coslada', 'cubas-de-la-sagra', 'daganzo-de-arriba', 'escorial-el', 'estremera', 'fresnedillas-de-la-oliva', 'fresno-de-torote', 'fuenlabrada', 'fuente-el-saz-de-jarama', 'fuentiduena-de-tajo', 'galapagar', 'garganta-de-los-montes', 'gargantilla-del-lozoya-y-pinilla-de-buitrago', 'gascones', 'getafe', 'grinon', 'guadalix-de-la-sierra', 'guadarrama', 'hiruela-la', 'horcajo-de-la-sierra-aoslos', 'horcajuelo-de-la-sierra', 'hoyo-de-manzanares', 'humanes-de-madrid', 'leganes', 'loeches', 'lozoya', 'lozoyuela-navas-sieteiglesias', 'madarcos', 'madrid', 'majadahonda', 'manzanares-el-real', 'meco', 'mejorada-del-campo', 'miraflores-de-la-sierra', 'molar-el', 'molinos-los', 'montejo-de-la-sierra', 'moraleja-de-enmedio', 'moralzarzal', 'morata-de-tajuna', 'mostoles', 'navacerrada', 'navalafuente', 'navalagamella', 'navalcarnero', 'navarredonda-y-san-mames', 'navas-del-rey', 'nuevo-baztan', 'olmeda-de-las-fuentes', 'orusco-de-tajuna', 'paracuellos-de-jarama', 'parla', 'patones', 'pedrezuela', 'pelayos-de-la-presa', 'perales-de-tajuna', 'pezuela-de-las-torres', 'pinilla-del-valle', 'pinto', 'pinuecar-gandullas', 'pozuelo-de-alarcon', 'pozuelo-del-rey', 'pradena-del-rincon', 'puebla-de-la-sierra', 'puentes-viejas-manjiron', 'quijorna', 'rascafria', 'reduena', 'ribatejada', 'rivas-vaciamadrid', 'robledillo-de-la-jara', 'robledo-de-chavela', 'robregordo', 'rozas-de-madrid-las', 'rozas-de-puerto-real', 'san-agustin-del-guadalix', 'san-fernando-de-henares', 'san-lorenzo-de-el-escorial', 'san-martin-de-la-vega', 'san-martin-de-valdeiglesias', 'san-sebastian-de-los-reyes', 'santa-maria-de-la-alameda', 'santorcaz', 'santos-de-la-humosa-los', 'serna-del-monte-la', 'serranillos-del-valle', 'sevilla-la-nueva', 'somosierra', 'soto-del-real', 'talamanca-de-jarama', 'tielmes', 'titulcia', 'torrejon-de-ardoz', 'torrejon-de-la-calzada', 'torrejon-de-velasco', 'torrelaguna', 'torrelodones', 'torremocha-de-jarama', 'torres-de-la-alameda', 'tres-cantos', 'valdaracete', 'valdeavero', 'valdelaguna', 'valdemanco', 'valdemaqueda', 'valdemorillo', 'valdemoro', 'valdeolmos-alalpardo', 'valdepielagos', 'valdetorres-de-jarama', 'valdilecha', 'valverde-de-alcala', 'velilla-de-san-antonio', 'vellon-el', 'venturada', 'villaconejos', 'villa-del-prado', 'villalbilla', 'villamanrique-de-tajo', 'villamanta', 'villamantilla', 'villanueva-de-la-canada', 'villanueva-del-pardillo', 'villanueva-de-perales', 'villar-del-olmo', 'villarejo-de-salvanes', 'villaviciosa-de-odon', 'villavieja-del-lozoya', 'zarzalejo']

In [12]:
geolocator = Nominatim(user_agent="my_application") #Primero hice un ejemplo con uno
location = geolocator.geocode("alcobendas")
print(location.address)
print((location.latitude, location.longitude))
print(location.raw)

Alcobendas, Comunidad de Madrid, España
(40.5400082, -3.6358494)
{'place_id': 255715278, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright', 'osm_type': 'relation', 'osm_id': 345878, 'lat': '40.5400082', 'lon': '-3.6358494', 'class': 'boundary', 'type': 'administrative', 'place_rank': 16, 'importance': 0.5134214038073257, 'addresstype': 'city', 'name': 'Alcobendas', 'display_name': 'Alcobendas, Comunidad de Madrid, España', 'boundingbox': ['40.5011783', '40.5888135', '-3.7009167', '-3.5494995']}

In [13]:
df_municipios= f.convertir_df(lista_municipios)
df_municipios.to_csv("datos/coordenadas.csv")

  0%|          | 0/179 [00:00<?, ?it/s]

100%|██████████| 179/179 [01:32<00:00,  1.94it/s]

In [14]:
df_municipios= pd.read_csv("datos/coordenadas.csv")

In [15]:
df_municipios["lon"].isna().sum()  #No hay nulos
df_municipios["lat"].isna().sum()
df_municipios["name"].isna().sum()

np.int64(0)

In [16]:
df_municipios["lon"]=df_municipios["lon"].astype(float) #No hay nulos
df_municipios["lat"]=df_municipios["lat"].astype(float)

In [17]:
df_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  179 non-null    int64
 1   name        179 non-null    object
 2   lat         179 non-null    float64
 3   lon         179 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.7+ KB

In [18]:
df_municipios.describe()

       Unnamed: 0         lat         lon
count  179.000000  179.000000  179.000000
mean    89.000000   40.030819   -2.552002
std     51.816986    3.933443   15.457460
min      0.000000    6.483333  -72.650000
25%     44.500000   40.304246   -3.903719
50%     89.000000   40.493310   -3.625974
75%    133.500000   40.749453   -3.468358
max    178.000000   41.133207  144.758651

In [19]:
df_municipios.head(3)

   Unnamed: 0               name        lat       lon
0           0         La Acebeda  41.086958 -3.624399
1           1            Ajalvir  40.534230 -3.480782
2           2  Alameda del Valle  40.917718 -3.843822

**Mi intención es ubicar una empresa de rodajes (especializado en series médicas)**
- Hospitales
- Restaurantes
- Edificios residenciaels
- Parques
- bares

Por ello creo que tener cerca hospitales facilita la adecuación de los actores para poder ver el funcionamiento de uno real. Además, se podría llegar a acuerdos con el hospital no solo del uso de alguna instalación sino también de materiales y vestimentas (Habría que ejecutar un estudio de viabilidad por si la opción de montar sets unicamente fuera más rentable). La zona de restaurantes puede servir como escenario más dinámico.  

Los edificios residenciales, parques y bares sirven no solo para su posible uso y disfrute por parte de los trabajadores sino también como garantía de conseguir un entorno realista para los rodajes que se deban desarrollar en esos ámbitos.

In [20]:
key= os.getenv("token")

REVISAR ESTE CÓDIGO PARA Q FUNCIONE

In [21]:
df_municipios.head()

   Unnamed: 0               name        lat       lon
0           0         La Acebeda  41.086958 -3.624399
1           1            Ajalvir  40.534230 -3.480782
2           2  Alameda del Valle  40.917718 -3.843822
3           3           El Álamo  40.230730 -3.990589
4           4  Alcalá de Henares  40.481840 -3.364497

In [22]:
Dic_categorias = {'Restaurants': 13065, 'Park' :16032, 'Home (private)': 12123, 'Hospital' :15013, 'Bar': 13003}
radio = 10000

In [23]:
latlon = df_municipios[["lat","lon"]].values
url = f"https://api.foursquare.com/v3/places/search"

In [24]:
result1 = f.query_fsq(url,latlon[64][0], latlon[64][1], 16032)

In [25]:
df_todos = pd.DataFrame()
for coord in latlon:
    for i in Dic_categorias.values():
        response = f.query_fsq(url = url,latitud=coord[0], longitud=coord[1], id_categoria=i)
        df = f.obtener_df(response)
        df_todos = pd.concat([df_todos,df])

In [39]:
df_todos.reset_index(drop=True, inplace=True)

In [40]:
df_todos.sample(5)

,Nombre,Direccion,Categoria
3665,Bar Manolo,"Avenida de Madrid, 30, 28189 Patones Comunidad...",Bar
495,Restaurante el Picachuelo,"Carretera el Berrueco-Cervera, Km 1500, 28192 ...",Restaurant
2876,Parque Infantil Avda Metepec,"Avenida Metepec 2B, 28691 Villanueva de la Cañ...",Playground
4250,Parque los Pinos,"Calle Mieres, s/n, 28600 Navalcarnero Comunida...",Park
1029,La Casona,"Calle José María Benito Serra, 5, 28350 Ciempo...",Bar

AHORA LIMPIEZA

In [41]:
df_todos.describe()

                 Nombre Direccion Categoria
count              4501      4501      4501
unique             2013      1895        86
top     Parque Infantil                 Bar
freq                 35       191      1547

In [42]:
df_todos.describe(include= "O")

                 Nombre Direccion Categoria
count              4501      4501      4501
unique             2013      1895        86
top     Parque Infantil                 Bar
freq                 35       191      1547

In [43]:
df_todos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4501 entries, 0 to 4500
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nombre     4501 non-null   object
 1   Direccion  4501 non-null   object
 2   Categoria  4501 non-null   object
dtypes: object(3)
memory usage: 105.6+ KB

In [44]:
df_todos.duplicated().sum()

np.int64(2371)

Hay duplicados por lo que tras observarlos se decidieron eliminar

In [45]:
df_todos[df_todos["Nombre"]=="Bar Rufino"]

          Nombre                                          Direccion Categoria
47    Bar Rufino  Plaza Santa Marina, 1, 28749 Alameda del Valle...       Bar
57    Bar Rufino  Plaza Santa Marina, 1, 28749 Alameda del Valle...       Bar
1904  Bar Rufino  Plaza Santa Marina, 1, 28749 Alameda del Valle...       Bar
2688  Bar Rufino  Plaza Santa Marina, 1, 28749 Alameda del Valle...       Bar
2693  Bar Rufino  Plaza Santa Marina, 1, 28749 Alameda del Valle...       Bar
2907  Bar Rufino  Plaza Santa Marina, 1, 28749 Alameda del Valle...       Bar

In [46]:
df_todos.drop_duplicates(inplace=True)

In [47]:
df_todos.sample(5)

,Nombre,Direccion,Categoria
1099,La Viña de Baco,"Plaza Cuatro Caños, s/n, 28400 Collado Villalb...",Seafood Restaurant
2188,Parque Manuela Malasaña,Móstoles Comunidad de Madrid,Park
1703,El Portón de Guadarrama,"Calle San Macario, 4, 28440 Guadarrama Comunid...",Steakhouse
1359,Carpe Diem,"Ventura Rodriguez, 5 (San Francisco), 28280 El...",Pub
1066,Restaurante Koma,"Paseo Rosales, 48, 28450 Collado Mediano Comun...",Restaurant